*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(hydra3.webp);
}
.left{
    color: aqua;
    width: 40%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
   
}
.right{
    background-color: rgb(14, 13, 13);
    color: rgb(13, 194, 194);
    width: 60%;
    height: 60px;
    float: right;
    text-align: center;
    line-height: 60px;
    border: 4px solid red;
    margin-top: 600px;
    margin-right: 250px;

}
